.SwipeButtonContainer {
	width: 31.25vw;
	height: 3.125vw;
	margin: 2.5vw 0px 2.5vw 0;
	padding: 0.2vw;
	display: flex;
	flex-direction: row;
	border-radius: 1vw;
	overflow: hidden;
	background-color: #f4f6ff;
	align-items: center;
	border: 0.0156vw solid #6c89aa;
	justify-content: space-between;
}

.swipeButton {
	background: #14243b;
	display: flex;
	flex-direction: row;
	transition: transform 300ms ease-out;
	height: 100%;
	width: 50%;
	border-radius: 1vw;
	align-items: center;
	justify-content: space-around;
	background: #14243b;
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	z-index: 20;
}

.swipedAnimation {
	width: 100%;
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
}

@keyframes MoveRight {
	0%,
	100% {
		right: 0;
	}
	50% {
		right: 3vw;
	}
}

.swipeButton > span {
	color: #f1962c;
	font-size: 1vw;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* SLIDER INPUT SECTION ENDS =========================== */

@keyframes MoveLeftRight {
	0%,
	100% {
		right: 0;
	}
	50% {
		right: 1vw;
	}
}
