.ReactSwipeButton {
	float: left;
	width: 100%;
	height: 50px;
	position: relative;
	margin: 40px 0px 40px 0;
}
.ReactSwipeButton,
.ReactSwipeButton * {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                    not supported by any browser */
}
.rsbContainer {
	border: 2px solid white;
	float: left;
	width: 100%;
	height: 100%;
	background: #eee;
	border-radius: 17px;
	position: relative;
	overflow: hidden;
	border: 0.25px solid #6c89aa;
}
.rsbContainerUnlocked {
	width: 100% !important;
	margin-left: 15%;
	transition: 0.5s;
}
.rsbContainerUnlocked .rsbcSlider {
	/* left: 100% !important; */
	cursor: default;
	width: 100% !important;
	pointer-events: none;
}
.rsbContainerUnlocked .rsbcSliderArrow,
rsbcSliderCircle {
	transition: 0.5s;
}

.rsbcSlider {
	display: flex;
	flex-direction: row;
	margin: 2px;
	text-align: right;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 90%;
	position: absolute;
	top: 0;
	left: 50px;
	margin-left: -60%;
	background: #333;
	border-radius: 17px;
	z-index: 100;
	/* box-shadow: 1px 1px 5px rgba(0,0,0,0.3); */
	cursor: pointer;
	background: #14243b;
	letter-spacing: 2px;
	color: #fff;
	font-size: 13px;
}
.rsbcSlider > div {
	display: flex;
	flex-direction: row;
	text-align: right;
	align-items: center;
	justify-content: flex-end;
}

.rsbcSlider > div > span {
	margin-right: 20px;
	color: #f1962c;
}
.rsbcSlider > div > div {
	margin: 0 20px 0 20px;
}
.rsbcSliderUnlocked {
	margin-left: -53%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.rsbcSliderUnlocked > span {
	color: #f1962c;
}

/* SLIDER INPUT SECTION =========================== */
.sliderInputText {
	font-size: 13px;
	color: #14243b;
	height: 100%;
	background-color: #f4f6ff;
	border: 0.25px solid #6c89aa;
}
.sliderInputText > form {
	width: 100%;
	height: 100%;
}
.sliderInputText > form > input {
	width: 100%;
	height: 100%;
	padding-left: 55%;
	color: #14243b;
	border: none;
}
.sliderInputText > form > input:focus {
	outline: none !important;
}
/* SLIDER INPUT SECTION ENDS =========================== */
