.SwipeButtonContainer {
	width: 31.25vw;
	height: 3.125vw;
	margin: 2.5vw 0px 2.5vw 0;
	padding: 0.2vw;
	display: flex;
	flex-direction: row;
	border-radius: 1vw;
	overflow: hidden;
	background-color: #f4f6ff;
	align-items: center;
	border: 0.0156vw solid #6c89aa;
	justify-content: space-between;
}

.swipeButton {
	background: #14243b;
	display: flex;
	flex-direction: row;
	/* overflow: hidden; */
	transition: transform 300ms ease-out;
	height: 100%;
	width: 50%;
	border-radius: 1vw;
	align-items: center;
	justify-content: space-around;
	background: #14243b;
	/* animation: MoveRight 1s linear; */
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	z-index: 20;
}

.swipedAnimation {
	width: 100%;
	/* animation: MoveRight 1s linear; */
	/* align-self: center; */
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	/* position: relative; */
	/* transition: transform 300ms ease-out; */
}

@keyframes MoveRight {
	0%,
	100% {
		right: 0;
	}
	50% {
		right: 3vw;
	}
}

.swipeButton > span {
	color: #fff;
	font-size: 1vw;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.swipedAnimation > span {
	color: #f1962c;
}

/* SLIDER INPUT SECTION =========================== */
.sliderInputText {
	font-size: 0.8125vw;
	color: #14243b;
	width: 50%;
	height: 100%;
	background-color: #f4f6ff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}
.sliderInputText > input {
	width: 100%;
	height: 100%;
	color: #14243b;
	font-size: 1vw;
	border: none;
	padding: 1vw;
}
.sliderInputText > input:focus {
	outline: none !important;
}
.sliderInputText > input::placeholder {
	font-size: 1vw;
}

/* SLIDER INPUT SECTION ENDS =========================== */

.materialArrowIcon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.materialArrowIcon > * {
	margin: 0 0.25vw;
	width: 2vw;
	fill: #f1962c;
	animation: MoveLeftRight 1s linear infinite;
	position: relative;
	right: 1vw;
}

@keyframes MoveLeftRight {
	0%,
	100% {
		right: 0;
	}
	50% {
		right: 1vw;
	}
}

.SwipeButtonContainer > * {
	/* background-color: #f1962c; */
	height: 100%;
}
