* {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: #f4f6ff;
}

html {
	font-size: 1vw;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #14243b;
	width: 100%;
}

.divider {
	margin-top: 3.125vw !important;
	height: 1vw;
	width: 100%;
}

.homeFrame {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	color: #14243b;
}

/* HEADER NAV SECTION==================================================================================== */

.headerSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 4.375vw;
	margin-top: 14.375vw;
	width: 90%;
	/* padding: 0rem 5.6875vw !important; */
	/* padding: 0.625vw; */
	border-radius: 1.25vw;
	background-color: #14243b;
	height: 6.125vw;
	border: 1px solid #6c89aa;
	/* width: 100%; */
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 15px 2.5px rgba(2, 8, 16, 0.65);
	margin: 2vw;
}

.navBox {
	/* width: 60%; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

.logo {
	width: 8vw;
	margin-left: 3vw;
}

.navItems {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	width: 100%;
}

.navItem {
	width: fit-content;
	height: fit-content;
	display: flex;
	font-size: 1.2vw;
	font-weight: bold;
	list-style: none;
	margin: 0 2.3125vw 0 1.3125vw;
	padding: 0.5vw 0;
	cursor: pointer;
	color: #fff;
	text-transform: capitalize;
}

.navItem:hover {
	border-bottom: 0.2rem solid #f1962c;
}

.icon {
	width: 2.125vw;
	height: 2.125vw;
}

.containerCover {
	justify-content: flex-end;
	background: #14243b;
	border: 0.09vw solid #6c89aa;
	width: fit-content;
	border-radius: 2vw;
}

.popUpContainer {
	padding: 0.8vw;
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 2vw;
}

.popUpContainerItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 1.1vw 1vw;
}
.popUpContainer > h3 {
	font-weight: 400;
	font-size: 2vw;
	color: #6c89aa;
	margin-left: 1vw;
}
.popUpContainerItem > a {
	text-decoration: none;
}
.popUpContainerItem > a > p {
	font-weight: 300;
	font-size: 1.3vw;
}

.popupIcon {
	display: flex;
	box-shadow: 0 4px 15px 2.5px rgba(2, 8, 16, 0.65);
	border: 0.0625vw solid #fff;
	margin: 0.125vw;
	width: 3vw;
	height: 3vw;
	padding: 0.8vw;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	margin-right: 1.5rem;
}

/* NAV SECTION ENDS ============================================================================================================*/

/* HERO SECTION BEGINS ============================================================================================================*/
.heroSection {
	padding: 0.625vw 5.6875vw !important;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: left;
}
.heroTitle {
	height: 7.5vw;
	font-size: 5vw;
	font-weight: 700;
	line-height: 7.5vw;
	text-align: left;
	display: inline-block;
}

.heroCash {
	font-size: 6.25vw;
}

.heroSectionTexts {
	height: 7.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: right;
	width: 60%;
	height: 100%;
}

/* logo in hero section */
.heroSectionTexts img {
	width: 40%;
}

.appImage {
	/* width: 100%; */
	height: 37.0806vw;
	align-self: center;
}

.heroText {
	font-weight: 400;
	font-size: 2.1875vw;
	margin-top: 1.5625vw;
}

/* HERO SECTION ENDS =======================================================================================*/

/* FEATURE SECTION =========================================================================================================*/

.features {
	padding: 3.75vw 5.6875vw !important;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	margin-bottom: 6.125vw;
}

.features > h1 {
	align-self: flex-start;
	font-size: 2.5vw;
	padding: 3.125vw 0 3.75vw 0;
}

.featureBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.3125vw;
}

.iconBox {
	display: flex;
	flex-direction: row;
	box-shadow: 0 4px 15px 2.5px rgba(2, 8, 16, 0.65);
	border: 0.0625vw solid #f1962c;
	margin: 0.125vw;
	justify-content: center;
	align-items: center;
	height: 7.5vw;
	width: 8.3077vw;
	border-radius: 30%;
	justify-self: center;
}

.iconBox > img {
	width: 50%;
}

.featureTextBox {
	display: flex;
	flex-direction: column;
	width: 26.5625vw;
	height: 7.4375vw;
	margin-left: 1.25vw;
	text-align: justify;
	align-items: left;
	justify-content: center;
}
.featureTextBox h1 {
	font-size: 1.875vw;
}
.featureTextBox p {
	font-style: normal;
	font-weight: 300;
	font-size: 1.5625vw;
}

.featureText {
	font-weight: 300;
	font-size: 1.5625vw;
	line-height: 1.875vw;
}

@media screen and (max-width: 600px) {
	.featureTextBox {
		width: 70%;
		height: 7.4375vw;
		margin-left: 4vw;
		text-align: justify;
	}
	.featureTextBox h1 {
		font-size: 3.5vw;
	}
	.featureTextBox p {
		font-style: normal;
		font-weight: 300;
		font-size: 2.5vw;
	}
	.iconBox {
		height: 12vw;
		width: 12vw;
	}
}

/* FEATURES SECTION ENDS =====================================================================================*/

/* MARKET PALCE ================== */

.sectionBox {
	display: flex;
	width: 100%;
	height: 50vw;
	background: linear-gradient(258.71deg, #f4f6ff, rgba(255, 255, 255, 0.87));
	padding: 3.9375vw 5.6875vw;
	align-items: center;
	justify-content: center;
}

/* @media query : flex-direction: column; */

.textsBox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 3.125vw;
	width: 60%;
}

.textsBox h1 {
	font-size: 2.5vw;
	font-weight: 600;
	text-align: left;
	color: #000;
	margin-bottom: 1vw;
}

.textsBox p {
	color: #000;
	font-size: 1.5625vw;
	line-height: 2.5vw;
	font-weight: 300;
	width: 100%;
}

.sectionImage {
	width: 40%;
	height: 100%;
	object-fit: contain;
}

/* MARKET PALCE ENDS ================== */

/* SEND MONEY  ================== */

.sendMoneyBox {
	/* flex-shrink: 1; */
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	padding: 3.9375vw 5.6875vw;
	display: flex;
	flex-direction: row;
	height: 50vw;
}
.sendMoneyImage {
	padding: 5%;
	width: 45%;
}

.onboardingVideoContainer {
	border: 0.625vw solid #14243b;
	padding: 0.625vw;
	width: 55%;
	height: 35vw;
	overflow: hidden;
	margin-top: -14.5vw;
	border-radius: 3.125vw;
	background-color: #14243b;
	display: flex;
	flex-direction: column;
}

.onboardingVideo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	bottom: 21vw;
	width: 100%;
	height: 100%;
	font-size: 1.25vw;
	font-weight: 600;
	color: #14243b;
	text-align: center;
	font-size: 1.25vw;
}
.onboardingVideo img {
	width: 20%;
}

/* SEND MONEY ENDS ================== */

/* RECEIVE AND MANAGE MONEY  ================== */
.receiveAndManageMoneyBox {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	height: 40.5625vw;
	padding: 3.9375vw 5.6875vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
}
.receiveAndManageSectionTitle {
	font-weight: 600;
	margin-bottom: 3.625vw;
}
.receiveAndManageSectionText {
	font-size: 1.5625vw;
	line-height: 2.5vw;
	font-weight: 300;
	width: 41.9375vw;
}

/* RECEIVE AND MANAGE MONEY ENDS ================== */

.light {
	color: #fff !important;
}

/* FEATURES AND RATINGS ========================== */

.featuresRatings {
	width: 100%;
	height: 60vw;
	background: #ffffff;
}

.ratingBox {
	display: flex;
	width: 33.3125vw;
	border: 0.02vw solid #755df5;
	box-shadow: 8px 8px 12px 4px rgba(24, 4, 129, 0.13);
	border-radius: 1.875vw;
	margin: 1vw;
	padding: 2vw;
	position: relative;
}

.ratingBox > p {
	font-size: 1.125vw;
	line-height: 1.25vw;
}

.ratingBoxIcon {
	width: 6.2vw;
}
.ratingBoxImage {
	width: 4.5vw;
	position: relative;
	right: 2vw;
	bottom: 2vw;
}

.whereFeaturedContainer {
	width: 30%;
	padding: "1vw";
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.whereFeatured {
	display: flex;
	width: 11.375vw;
	height: 8.7vw;
	background: #ffffff;
	border: 0.02vw solid #755df5;
	box-shadow: 8px 8px 12px 4px rgba(24, 4, 129, 0.13);
	border-radius: 1.875vw;
	padding: 2vw;
}

.whereFeatured > img {
	width: 100%;
	height: 100%;
}

/* FOOTER====================================== */

.footerContainer {
	width: 100%;
	padding: 3vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footerContainer > hr {
	background-color: #f4f6ff;
	width: 100%;
	margin: 2vw 0;
}



.helpDocuments > img {
	width: 6vw;
}

.downloadBox {
	border: 0.5vw solid #fff;
	border-radius: 3vw;
	width: 60vw;
	margin: -10vw 0 1vw 0;
	background: #14243b;
	padding: 2vw;
}

.downloadBox > * {
	font-size: 2vw;
}

.downloadIconBox {
	flex-direction: column;
	width: 11vw;
	height: 3vw;
	background-color: #fff;
	border-radius: 0.4vw;
	margin: 2vw;
	padding: 2vw;
}

.downloadLogo {
	height: 3.75vw;
	margin: 0vw 2vw;
}

.downloadIconBox > img {
	width: 90vw;
}

.downloadIconBox > * {
	color: #14243b;
	font-size: 0.8vw;
	font-weight: 300;
}

.socialIcons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.socialIcons > * {
	margin: 0 1vw;
	border-radius: 100%;
	border: 0.1vw solid white;
	padding: 0.2vw;
}

.storeDetails > * {
	color: #14243b;
	fill: #14243b;
	margin: 0 0.2vw;
}

.copyright {
	display: flex;
	flex-direction: row;
	margin: 4vw 0;
	justify-content: space-between;
	width: 100%;
}
.copyright > p {
	font-size: 1vw;
}
