* {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: #f4f6ff;
}

body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #14243b;
	width: 100%;
}

.divider {
	margin-top: 50px !important;
	height: 16px;
	padding: 0;
	margin: 0;
	position: relative;
	top: 10px;
}

.homeFrame {
	position: absolute;
	/* top: 1672px; */
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	color: #14243b;
}

/* HEADER NAV SECTION==================================================================================== */

.headerSection {
	justify-content: center;
	align-items: center;
	margin-bottom: 70px;
	margin-top: 70px;
	width: 100%;
	padding: 0px 91px !important;
}

.navBox {
	padding: 10px;
	display: flex;
	flex-direction: row;
	border-radius: 20px;
	background-color: #14243b;
	border: 1px solid #6c89aa;
	box-sizing: border-box;
	box-shadow: 0 4px 15px 2.5px rgba(2, 8, 16, 0.65);
	width: 100%;
	height: 98px;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 7.8125rem;
	height: 2.625rem;
	margin-left: 1.25rem;
	margin-right: 20%;
}

.navItems {
	display: flex;
	flex-direction: row;
	width: 20.6875rem;
	height: 24px;
	font-size: 16px;
	justify-content: space-around;
}

.navItem {
	list-style: none;
	margin: 5px;
	cursor: pointer;
}

.navItem:hover {
	text-decoration: underline;
}

.icon {
	width: 34px;
	height: 34px;
}
.lineDivider {
	border-right: 1px solid #f4f6ff;
	width: 1px;
	height: 43px;
}
.button {
	padding: 5px;
	border: 1px solid #f1962c;
	border-radius: 17px;
	height: 57.69px;
	width: 9.5rem;
}
/* NAV SECTION ENDS ============================================================================================================*/

/* HERO SECTION BEGINS ============================================================================================================*/
.heroSection {
	/* padding: 63px 91px; */
	padding: 10px 91px !important;
	width: 100%;
}
.heroTitle {
	height: 120px;
	font-size: 80px;
	font-weight: 700;
	line-height: 120px;
	letter-spacing: 0em;
	text-align: left;
	display: inline-block;
}

.heroCash {
	font-size: 100px;
}

.heroSectionTexts {
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: right;
	width: 100%;
	height: 100%;
}

.appImage {
	width: 24.6875rem;
	height: 593.29px;
}

.slideContact {
	margin-top: 42px;
	align-items: center;
	background-color: #fff;
	height: 55px;
	width: 31.25rem;
	border-radius: 17px;
}

.platformIcon {
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 31.25rem;
}

.platformIcon p {
	margin-left: 20px;
}
.heroText {
	font-weight: 400;
	font-size: 35px;
	margin-top: 25px;
}

.platformIcon img {
	position: relative;
	top: 5px;
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

/* HERO SECTION ENDS =======================================================================================*/

.groupIcon1 {
	width: 298px;
	height: 100px;
}

.lineDiv {
	box-sizing: border-box;
}

.rectangleButton {
	display: flex;
	flex-direction: row;
	width: 16.125rem;
	height: 90%;
	border-radius: 17px;
	background-color: #14243b;
	border: 1px solid #f4f6ff;
	justify-content: center;
	align-items: center;
}

.slideToDash img {
	margin-left: 20px;
	width: 20px;
	height: 20px;
}

.slideContact p {
	margin-left: 10px;
}

.slideToDash {
	color: #f1962c;
}

.vectorIcon {
	width: 21px;
	height: 24px;
}

/* FEATURE SECTION =========================================================================================================*/

.features {
	/* padding: 0px 0px 90px 0px; */
	padding: 60px 91px !important;
	/* padding: 63px 0px; */
}

.features > h1 {
	font-size: 40px;
	padding: 50px 0px 60px 0px;
	/* margin: 50px 0px 50px 0px; */
}

.featureBox {
	display: flex;
	flex-direction: row;
	padding: 5px;
	/* margin: 40px; */
}

.iconBox {
	display: flex;
	flex-direction: row;
	box-shadow: 0 4px 15px 2.5px rgba(2, 8, 16, 0.65);
	border: 1px solid #f1962c;
	margin: 2px;
	justify-content: center;
	align-items: center;
	height: 120px;
	width: 8.3077rem;
	border-radius: 30px;
}

.featureTextBox {
	display: block;
	width: 26.5625rem;
	height: 119px;
	margin-left: 20px;
	text-align: justify;
}

.featureTextBox p {
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
}

.featureText {
	font-weight: 300;
	font-size: 25px;
	line-height: 30px;
}

/* FEATURES SECTION ENDS =====================================================================================*/

/* MARKET PALCE ================== */

.sectionBox {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 1440px;
	height: 649px;
	background: linear-gradient(258.71deg, #f4f6ff, rgba(255, 255, 255, 0.87));
	padding: 63px 91px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.textsBox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 50px;
}

.textsBox h1 {
	font-size: 40px;
	font-weight: 600;
	text-align: left;
	color: #000;
	margin-bottom: 58px;
}

.textsBox p {
	color: #000;
	font-size: 25px;
	line-height: 40px;
	font-weight: 300;
	width: 671px;
	flex-shrink: 0;
}

.textsBox img {
	width: 502px;
	height: 57px;
	flex-shrink: 0;
	margin-left: 90px;
}

.sectionImage {
	width: 486px;
	height: 445px;
	flex-shrink: 0;
	object-fit: cover;
}

/* MARKET PALCE ENDS ================== */

/* SEND MONEY  ================== */
.sendMoney {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.SendMoneyVideoBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 10px;
	background-color: #14243b;
	width: 800px;
	height: 440px;
	margin-top: -200px;
	border-radius: 50px;
}

.vid01011Icon {
	width: 100%;
	object-fit: cover;
	flex-shrink: 0;
}

.sendMoneyBox {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 1440px;
	height: 863px;
	background-color: #fff;
	padding: 63px 91px;
	display: flex;
	flex-direction: row;
}

.sendMoneyTextsBox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* justify-content: center; */
}

.sendMoneyImage {
	/* margin-top: 50px; */
	padding: 5%;
	width: 45%;
	/* flex-shrink: 0; */
}

.onboardingVideo {
	position: absolute;
	flex-shrink: 0;
	border-radius: 10px;
	width: 184px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0em;
	color: #14243b;
	text-align: center;
	font-size: 20px;
}
.onboardingVideo img {
	width: 158px;
}

/* SEND MONEY ENDS ================== */

/* RECEIVE AND MANAGE MONEY  ================== */
.receiveAndManageMoneyBox {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 1440px;
	height: 649px;
	padding: 63px 91px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
}
.receiveAndManageSectionTitle {
	font-weight: 600;
	margin-bottom: 58px;
}
.receiveAndManageSectionText {
	font-size: 25px;
	line-height: 40px;
	font-weight: 300;
	width: 671px;
	flex-shrink: 0;
}

/* RECEIVE AND MANAGE MONEY ENDS ================== */

.light {
	color: #fff !important;
}
